.container {
    //home styling
    padding: 5rem;
    .heading {
        text-align: center;
    }
    .search-bar {
        margin-top: 5rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        h3 {
            margin-right: 5rem;
        }
        input {
            font-size: 1.2rem;
            width: 30%;
            padding: 0 1rem;
        }
    }

    //movie row styling
    .movie-row-container {
        background: #f7fbff;
        padding: 2rem;
        border-radius: 5px;
        margin: 2rem 0 0;
        .generation {
            p {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .movie-row {
            display: flex;
            // justify-content: space-between;
            flex-wrap: wrap;

            //movie styling

            .movie {
                display: flex;
                flex-direction: column;
                max-width: 150px;
                margin: 0 1rem;
                min-width: 180px;
                text-align: center;
                align-items: center;
                justify-content: space-between;
                img {
                    width: 150px;
                    height: auto;
                }
                .movie-details {
                    .movie-name {
                        font-weight: bold;
                    }
                    .movie-name,
                    .movie-release-date {
                        margin: 0.2rem;
                    }
                }
                .like {
                    margin-top: 1rem;
                    width: 5rem;
                    background-color: #efefef;
                    cursor: pointer;
                    border-radius: 5px;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
